.list_li {
  list-style: none;
  border: 1px solid #bbbbbb;
  padding: 20px;
  width: 70%;
}

.list_ul {
  padding: 20px;
  margin: auto;
}

.list_dl {
  display: flex;
  flex-direction: row;
}

.list_dd {
  flex: 1;
  margin-left: 20px;
}
